<div class="col-md-6 offset-md-3 mt-5" >
    <br />
    <div class="card">
      <body style="background-color:powderblue;">
        <h6 class="card-header">Please provide new password.</h6> 
        </body>
      <div class="card-body">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="password"><b>Password</b></label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">password is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="confirmpassword"><b>Confirm Password</b></label>
            <input type="password" formControlName="confirmpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" />
            <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
              <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
            </div>
          </div>
          <button [disabled]="loading" class="btn btn-primary" >
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Submit
          </button>&nbsp;&nbsp;&nbsp;
        
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
          &nbsp;&nbsp;&nbsp;
        </form>
      </div>
    
    <div><footer></footer></div>
  
  </div>
  