<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

  <h4 class="my-0 mr-md-auto font-weight-normal">IBM</h4>
  <ul class="navbar-nav">
   <!-- <li class="nav-item">
      <a  class="nav-link" routerLinkActive="active">Welcome User</a>
    </li>-->
  </ul>
</nav>
<div class="container">
  <br>
  <h6 style="text-align: center;">{{title}}</h6>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2020 @IBM</span>
  </div>
</footer>
