<div id="quiz">
<div  class="badge badge-info float-right text-right">Time: {{ellapsedTime}} / {{duration}}</div>
<div class="row text-center" *ngIf="mode=='quiz'">
  <div class="col-6 text-left" *ngFor="let question of questionOneByeOne" >
			<label >
               <b> {{index+1}}.&nbsp;{{question.question}}</b>
      </label>
				<div *ngFor="let option of question.options">
					<div *ngIf="question.questionType =='MultiSelect' && question">
					<label class="font-weight-normal" >
						<input id="{{option.optionID}}"  type="checkbox"  [(ngModel)]="option.selected"
						(change)="onSelect(question, option.optionID, $event.target.checked);"/>
					 {{option.option}}
					</label>
					</div>
					
					<div *ngIf="question.questionType =='SingleSelect' && question">
						<input id="{{option.optionID}}"   [checked]="option.checked" type="radio"  
						(change)="onSelect(question, option.optionID, $event.target.checked);" name="options"/>  {{option.option}} 
					</div>
		    </div>
	    <div class="text-center">
        <button type="button" >Flagged</button> &nbsp;&nbsp;&nbsp;
        <button type="button" *ngIf="disableBackButton" (click)="moveQuestion(index - 1, questions.length)">Back</button> &nbsp;&nbsp;&nbsp;
        <button type="button"  *ngIf="disableNextButton" (click)="moveQuestion(index + 1, questions.length)">Next</button> &nbsp;&nbsp;&nbsp;
        <button type="button" (click)="mode = 'review'">Summary</button>&nbsp;&nbsp;
        <button type="button" (click)="mode = 'warning'">Submit</button>
      </div>
  </div>
</div>

<div class="row text-center" *ngIf="mode=='review'">

  <div class="col-4 cursor-pointer" *ngFor="let question of questions; let index = index;">
    <div (click)="goTo(index)" class="p-3 mb-2 {{ isAnswered(question) == 'Answered'? 'bg-info': 'bg-warning' }}">{{index + 1}}. {{ isAnswered(question) }}</div>
  </div>
</div>

<div class="row text-center" *ngIf="mode=='warning'">
  <div>
    <label>To go back to the test, click here <button type="button" (click)="mode = 'quiz'">Back</button></label>
  </div>
  <div>
    <label>You still have Time: {{remainingTime}} remaining,
      if you are sure of submitting the exam ,
      click here <button type="button" (click)="submitAnswers(false)">Submit</button>
    </label>
  </div>
 <br/>
  <div>
    <label><p>To view the summary, click here
      <button type="button" (click)="mode = 'review'">Summary</button>&nbsp;&nbsp;</p>
    </label>
  </div>
</div>
</div>
