<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/candidates-list" [state]="{username:this.userName}" routerLinkActive="active">Manage Candidates</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/manage-questionbank"routerLinkActive="active">Manage Question Bank</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/testconfig-add" routerLinkActive="active">Manage Metadata</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/login-component" routerLinkActive="active">Logout</a>
</nav>
<br><br>
<div class="float-right text-center">
  <a routerLink="/add-jrss" routerLinkActive="active">JRSS</a> &nbsp;&nbsp;
  <a routerLink="/add-stream" routerLinkActive="active">Stream</a> &nbsp;&nbsp;
  <a routerLink="/testconfig-add" routerLinkActive="active">TestConfig</a>
</div>
<br>
<div class="row justify-content-center">
  <div class="col-md-8 register-employee">
    <h4 class="my-0 mr-md-auto font-weight-normal">Edit Test Config</h4>
    <br/>
    <!-- form Test Config -->
    <div class="card-body">
      <form [formGroup]="testConfigEditForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label for="inputJRSS3" class="col-sm-4 col-form-label">JRSS</label>
          <div class="col-sm-8">
            <select class="custom-select form-control" (change)="updateJrssProfile($event.target.value)"
                    formControlName="JRSS" id="inputJRSS3" [ngClass]="{ 'is-invalid': submitted && myForm.JRSS.errors }">
              <option value="">Choose...</option>
              <option *ngFor="let jrss of JRSS" value="{{jrss.jrss}}">{{jrss.jrss}}
              </option>
            </select>
            <div *ngIf="submitted && myForm.JRSS.errors" class="invalid-feedback">
              <div *ngIf="myForm.JRSS.errors.required">JRSS is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputNoOfQuestions3" class="col-sm-4 col-form-label">Number of Questions</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" formControlName="noOfQuestions" id="inputNoOfQuestions3" [ngClass]="{ 'is-invalid': submitted && myForm.noOfQuestions.errors }" maxlength="3" minlength="1">
            <div *ngIf="submitted && myForm.noOfQuestions.errors" class="invalid-feedback">
              <div *ngIf="myForm.noOfQuestions.errors.required">Number Of Questions is required</div>
              <div *ngIf="myForm.noOfQuestions.errors.pattern">Invalid Number Of Questions</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputTestDuration3" class="col-sm-4 col-form-label">Test Duration(in Seconds)</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" formControlName="testDuration" id="inputTestDuration3" [ngClass]="{ 'is-invalid': submitted && myForm.testDuration.errors }" maxlength="10" minlength="2">
            <div *ngIf="submitted && myForm.testDuration.errors" class="invalid-feedback">
              <div *ngIf="myForm.testDuration.errors.required">Test Duration is required</div>
              <div *ngIf="myForm.testDuration.errors.pattern">Invalid Test Duration</div>
            </div>
          </div>
        </div>

        <div class="form-group" class="text-center" style="width: 100px">
          <button class="btn btn-success btn-lg btn-block" type="submit">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
<br/>
<h4 class="my-0 mr-md-auto font-weight-normal">Test Config List</h4>
<br/>
<div class="container">
  <!-- No data message -->
  <p *ngIf="TestConfigs.length <= 0" class="no-data text-center">There are no records added yet!</p>
  <!-- Test Config list -->
  <table class="table table-bordered" *ngIf="TestConfigs.length > 0">
    <thead class="table-success">
    <tr>
      <th scope="col center">JRSS</th>
      <th scope="col center">No Of Questions</th>
      <th scope="col center">Test Duration</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let testConfig of TestConfigs; let i = index">
      <td>{{testConfig.JRSS}}</td>
      <td>{{testConfig.noOfQuestions}}</td>
      <td>{{testConfig.testDuration}}</td>
      <td class="text-center edit-block">
          <span class="edit" [routerLink]="['/testconfig-edit/', testConfig._id]">
            <button type="button" class="btn btn-success btn-sm">Edit</button>
          </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>


