<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/create-candidate" [state]="{username:this.userName}" routerLinkActive="active">Manage Candidates</a>
  <a class="flex-sm-fill text-sm-center nav-link">Manage Question Bank</a>
  <a class="flex-sm-fill text-sm-center nav-link">Manage Metadata</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/login-component" routerLinkActive="active">Logout</a>
</nav>
<br><br>
<br><br>
<div>   
      <h3 class="text-primary">Welcome, {{userName}}!</h3><br>
      <h6>Use the above available options to</h6>	  
	  <h6>&nbsp;&nbsp;a) &nbsp;<b>Create, activate/deactivate, edit and delete candidates</b> for the exams.</h6><br>
	  <h6>&nbsp;&nbsp;b) &nbsp;<b>Uploading</b> new questions and <b>managing</b> existing questions.</h6><br>
	  <h6>&nbsp;&nbsp;c) &nbsp;Manage the Metadata of the application by <b>editing the metadata</b> as per the requirements.</h6>
</div>
